* {
    margin: 0;
    padding: 0;
}

body {
    background: lightgray;
    font-family: 'Roboto', sans-serif;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px;
}


h2 {
    color: rgb(141, 199, 40);
    display: inline-block;
    font-weight: 600;
}

#redLogo {
    color: red;
}

ul {
    display: inline-block;
}

ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
ul li a{
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}
/*------ Content ------*/
#content {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}
/*------ BeHealthy ------*/

#beHealthy {
    width: 15%;
}

h1 {
    font-size: 4rem;
    font-weight: bolder;
    font-family: sans-serif;
}

p {
    font-weight: 600;
}

#browseMenu {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
 /*-----photos-----*/
#photosContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 66%;
    margin: 25px;
}

#apple img {
    height: 500px;
    width: 350px;

}

#pasta img {
    height: 500px;
    width: 350px;

}

#shrimp {
    height: 500px;
    width: 400px;
    background-image: url(./images/shrimp.jpg);
}

.whiteLabel {
    background-color: white;
    font-weight: bold;
    padding: 10px;
    font-size: .8rem;
    z-index: 1;
}

.greenLabel {
    background-color: rgb(141, 199, 40);
    padding: 10px 10px 10px 35px;
    font-weight: bold;
    font-size: .8rem;
    text-align: right;
}